@import '../../utils/variables';
@import '../../utils/mixins';

.accordion {
  &__title {
    display: flex;
    align-items:flex-end;
    position: relative;
    cursor: pointer;
    padding: 20px 0 16px;
    margin: 0;
    color: inherit;
    background: none;
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 2;

    @include on768 {
      cursor: auto;
    }

    &::after {
      content: '';
      position: absolute;
      top: 28px;
      right: 20px;
      width: 15px;
      height: 2px;
      background-color: $mainColor;

      @include on768 {
        display: none;
      }
    }
    
    &::before {
      content: '';
      position: absolute;
      top: 28px;
      right: 20px;
      width: 15px;
      height: 2px;
      background-color: $mainColor;
      transform: rotateZ(90deg);
      transition: transform 500ms;

      @include on768 {
        display: none;
      }
    }

    &--open::before {
      transform: rotateZ(0deg);
    }
  }

  &__list {
    max-height: 0;
    overflow: hidden;
    transition: all 700ms;

    &--open {
      max-height: 300px;
    }
  }

  &__item {
    list-style: none;
    font-size: 12px;
    margin-bottom: 16px;
  }

  &__img-list {
    display: flex;
    gap: 12px;
  }

  &__link {
    text-decoration: none;
    color: inherit;
    transition: all 500ms;

    &:hover {
      cursor: pointer;
      color: $green;
    }
  }
}
