@import '../../utils/variables';
@import '../../utils/mixins';

.description {
  font-size: 14px;
  width: 100%;
  text-align: justify;
  margin-bottom: 16px;

  @include on768 {
    font-size: 16px;
  }
  @include on1280 {
    font-size: 18px;
  }

  &--noParagraph {
    text-align: center;

    &::before {
      content: none;
    }
  }

  &--architecture {
    font-size: 14px;
    margin-right: auto;
    margin-bottom: 0;
    max-width: max-content;

    @include on1280 {
      display: flex;
      align-items: center;
      font-size: 16px;
    }
  }

  &--shop {
    text-align: center;
    margin-bottom: 12px;
  }

  &--rooms {
    text-align: left;
  }

  &--project {
    font-size: 14px;
    text-align: left;
    margin: 8px auto 20px 0;

    @include on768 {
      width: 100%;
      columns: 2;
      column-gap: $pad24 * 2;
      margin: 16px auto 20px;
      font-size: 16px;
    }

    @include on1280 {
      margin: 0 auto 20px;
      font-size: 18px;
    }
  }
}
