@import '../../../utils/variables';
@import '../../../utils/mixins';

.agree {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  overflow: hidden;

  @include on768 {
    width: 32px;
    height: 32px;
  }

  &__P {
    fill: $gold;
  }
}