@import '../../../utils/variables';
@import '../../../utils/mixins';

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1140px;

  @include on768 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr min-content min-content min-content min-content 1fr;
    grid-template-areas:
      "img n1"
      "img description1"
      "img title"
      "img description2"
      "img button"
      "img n2";
  }

  &__img {
    width: 100%;
    margin-bottom: 16px;
    grid-area: img;

    @include on768 {
      margin-bottom: 0;
    }
  }
}
