@import '../../utils/variables';
@import '../../utils/mixins';

.button {
  font-size: 14px;
  width: 160px;
  padding: 10px 20px;
  background-color: #fff;
  color: $green;
  border: 1px solid $green;
  border-radius: 20px;
  outline: none;
  transition: all 500ms;

  @include on768 {
    padding: 10px 30px;
  }

  &:hover {
    cursor: pointer;
    background-color: $green;
    color: #fff;
  }

  &--imageModal {
    position: absolute;
    width: max-content;
    right: $pad12;
    bottom: $pad12;
    background: $mainColor;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      border: 1px solid $gold;
      color: $gold;
      background: $mainColor;
    }
  }
}