@import '../../utils/variables';
@import '../../utils/mixins';

.button {
  font-size: 14px;
  width: 160px;
  padding: 10px 20px;
  background-color: #fff;
  color: $green;
  border: 1px solid $green;
  border-radius: 20px;
  outline: none;
  transition: all 500ms;

  @include on768 {
    padding: 10px 30px;
  }

  &:hover {
    cursor: pointer;
    background-color: $green;
    color: #fff;
  }
}