@import '../../utils/variables';
@import '../../utils/mixins';

.portfolio {
  position: relative;

  &__header {
    position: relative;
    margin-bottom: 40px;

    &__img {
      width: 100%;
      height: 140px;
      object-fit: cover;

      @include on768 {
        height: 200px;
      }
      @include on1280 {
        height: 240px;
      }
    }

    &__name {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translate(0, -50%);
      font-size: 24px;
      font-weight: 3;
      color: #fff;
      user-select: none;
      text-decoration: none;

      @include on768 {
        font-size: 32px;
        left: 15%;
      }
      @include on1280 {
        font-size: 40px;
      }
    }

    &__sbuname {
      position: absolute;
      top: 70%;
      left: 10%;
      transform: translate(0, -50%);
      font-size: 16px;
      font-weight: 2;
      color: #fff;
      user-select: none;

      @include on768 {
        font-size: 22px;
        left: 15%;
      }
      @include on1280 {
        font-size: 28px;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    
    margin: auto;
    margin-bottom: 40px;

    &__filters {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 64px;
    }

    &__submit {
      font-size: 14px;
      width: 280px;
      height: min-content;
      padding: 10px 20px;
      background-color: #fff;
      color: $green;
      border: 1px solid $green;
      border-radius: 4px;
      outline: none;
      border-radius: 20px;
      transition: all 500ms;

      @include on768 {
        padding: 10px 30px;
        width: 300px;
      }

      &:hover {
        cursor: pointer;
        background-color: $green;
        color: #fff;
      }
    }
  }

  &__preview {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 40px;

    @include on768 {
      grid-template-columns: repeat(2, 1fr);
    }

    &__img{
      width: 100%;
    }
  }
}
