@import '../../utils/variables';
@import '../../utils/mixins';

.carousel {
  position: relative;

  &__list {
    display: flex;
  }

  &__item {
    list-style: none;
    width: 100%;
    position: relative;

    &--imgBox {
      display: flex;
      overflow: hidden;
      background: #000;

      &:hover {
        .carousel__item--img {
          transform: scale(1.04);
          opacity: 0.75;
        }
      }
    }

    &--img {
      width: 100%;
      transition: all 800ms;
    }

    &--text {
      position: absolute;
      bottom: $pad24;
      left: 0;
      font-size: 10px;
      text-transform: uppercase;
      // font-weight: 1;
      color: $gold;
      padding: $pad12 $pad24;
      background: $mainColor;
      user-select: none;
      transform: translate(0, 25%);

      @include on768 {
        font-size: 12px;
      }

      @include on1280 {
        // bottom: $pad24;
        // left: $pad24;
        font-size: 16px;
      }
    }
  }

  &__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 60px;
    height: 60px;
    border: none;
    outline: none;
    background-color: $mainColor;
    transform: translateY(-50%);
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }
    
    &--left {
      padding-left: $pad12;
      left: 0;

      &:hover::after {
        left: 0;
      }
      &:hover::before {
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
      }

      &::before {
        content: '';
        position: absolute;
        transform: rotateZ(-45deg);
        width: 16px;
        height: 16px;
        border-top: 1px solid $gold;
        border-left: 1px solid $gold;
        z-index: 1;
        transition: all 500ms;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $green;
        transition: all 500ms;
      }
    }

    &--right {
      padding-right: $pad12;
      right: 0;
      

      &:hover::after {
        right: 0;
      }
      &:hover::before {
        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
      }

      &::before {
        content: '';
        position: absolute;
        transform: rotateZ(45deg);
        width: 16px;
        height: 16px;
        border-top: 1px solid $gold;
        border-right: 1px solid $gold;
        z-index: 1;
        transition: all 500ms;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color: $green;
        transition: all 500ms;
      }
    }
  }

  &__arrow {
    width: 16px;
    height: 16px;
    border-left: 2px solid #000;
    border-top: 2px solid #000;

    &--left {
      transform: rotateZ(-45deg);
    }

    &--right {
      transform: rotateZ(135deg);
    }
  }
}
