.catalog {
  width: 90%;
  letter-spacing: 0.4px;
  margin: 0 auto;

  @media (min-width: 1069px) {
    width: 80%;
  }

  &__info {
    display: flex;
    margin: 0px auto 30px;
    font-size: 14px;

    &--title {
      margin-right: 2px;
    }

    &--link {
      text-decoration: none;
      color: green;
      margin-bottom: 10px;
      transition: all 500ms;

      &:hover {
        cursor: pointer;
        opacity: 0.6;
      }
    }
  }

  &__list {
    display: flex;
    gap: 8px;
    margin-bottom: 50px;
    // width: 100%;
    // object-fit: cover;
  }

  &__item {
    list-style: none;
  }
}