@import '../../utils/variables';

.language-selector {
  display: flex;
  align-items: center;
  gap: $pad12;

  &__query {
    display: block;
    width: max-content;
    background-color: inherit;
    cursor: default;
    
    &--menu {
      color: $mainColor;
      border-bottom: 1px solid $mainColor;
    }
    
    &--footer {
      color: $greyText;
      border-bottom: 1px solid $greyText;
    }
  }
}
