@import '../../../utils/variables';
@import '../../../utils/mixins';

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  height: 40px;

  @include on768 {
    height: 50px;
  }
  @include on1280 {
    height: 60px;
  }
}

.st0 {
  fill: #fff;
}

.st1 {
  fill: #fff;
}