@import '../../../utils/variables';
@import '../../../utils/mixins';

.logo {
  height: 40px;

  @include on768 {
    height: 50px;
  }
  @include on1280 {
    height: 60px;
  }

  &--menu {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);

    .st0 {
      fill:#28613C;
    }
    .st1 {
      fill:#E8C347;
    }
  }
}

.st0 {
  fill: #fff;
}

.st1 {
  fill: #fff;
}