.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #fff;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;


  &__menu {
    


    &--burger {

    }
  }





  &__logo {
    position: absolute;
    width: 70px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    background-image: url('../../images/logo.svg');
    background-repeat: no-repeat;
  }
}