@import '../../utils/variables';
@import '../../utils/mixins';

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: #fff;
  transition: all 500ms;

  @include on768 {
    height: 50px;
    padding: 0 30px;
  }

  @include on1280 {
    height: 60px;
  }

  &--position {
    background-color: #fff;
    color: $mainColor;

    .search__P, .favorite__P, .bag__P, .menu__R {
      fill: $mainColor;
    }
    .st0 {
      fill:#28613C;
    }
    .st1 {
      fill:#E8C347;
    }
  }

  &:hover {
    background-color: #fff;
    color: $mainColor;

    .search__P, .favorite__P, .bag__P, .menu__R {
      fill: $mainColor;
    }

    .st0 {
      fill:#28613C;
    }
    .st1 {
      fill:#E8C347;
    }
  }

  &__left, &__right {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 12px;
    font-weight: 2;
    
    &:hover {
      cursor: pointer;
    }
    
    @include on768 {
      height: 100%;
      align-items: end;
      padding: 0 0 6px 0;
    }
    @include on1280 {
      font-size: 14px;
      padding: 0 0 8px 0;
    }
  }

  &__menu, &__portfolio, &__shop {
    display: none;

    @include on768 {
      display: block;
    }
  }

  &__menu {
    &:hover {
      color: $green;
    }
  }
  &__portfolio {
    &:hover {
      color: $green;
    }
  }
  &__shop {
    &:hover {
      color: $green;
    }
  }
}
