@import '../../utils/variables';
@import '../../utils/mixins';

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: $mainColor;
  width: 240px;
  height: 240px;

  &--test {
    width: 450px;
    height: 250px;
  }

  &--projects {
    position: relative;
    width: 100%;
    height: 380px;
  }

  &--project {
    width: 100%;
    height: 100%;

    @include on768 {
      height: fit-content;
    }
    // max-width: 50%;
  }
  
  &:hover {
    .image-container__img {
      transform: scale(1.04);
      opacity: 0.75;
    }
  }
  
  &__link {
    display: flex;
    text-decoration: none;

    &--projects {
      &::before {
        content: '';
        position: absolute;
        top: $pad12 / 2;
        right: $pad12 / 2;
        bottom: $pad12 / 2;
        left: $pad12 / 2;
        border: 1px solid rgba(0,0,0,0);
        transition: all 500ms;
        z-index: 1;
      }
  
      &::after {
        content: 'Union Stone';
        position: absolute;
        top: 10%;
        right: 0;
        background: $mainColor;
        color: $gold;
        padding: 8px 16px;
        z-index: 2;
      }
  
      &:hover {
        &::before {
          cursor: pointer;
        border: 1px solid $gold;
        }
      }
    }
  }
  
  &__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: all 800ms;
  }
}
