@import '../../utils/variables';
@import '../../utils/mixins';

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: $mainColor;
  height: 280px;
  position: relative;

  &:hover {
    .image-container__img {
      transform: scale(1.04);
      opacity: 0.75;
    }
  }

  &--projects {

  }

  &--gallery {
    @include on768 {
      height: 300px;
    }
    @include on1280 {
      height: 320px;
    }
  }

  &--project {
    width: 100%;
    height: 240px;
    margin-bottom: $pad24;
    height: fit-content;

    .image-container__img {
      height: 100%;
    }
    
    &:hover {
      .image-container__img {
        transform: scale(1);
        opacity: 1;
      }
    }
  }

  &__container {
    display: flex;
    text-decoration: none;

    &::before {
      content: '';
      position: absolute;
      top: $pad12 / 2;
      right: $pad12 / 2;
      bottom: $pad12 / 2;
      left: $pad12 / 2;
      border: 1px solid #fff;
      transition: all 500ms;
      z-index: 1;
    }

    &::after {
      content: attr(data-content);
      text-transform: uppercase;
      position: absolute;
      top: 10%;
      right: 0;
      background: $mainColor;
      color: $gold;
      padding: 8px 16px;
      z-index: 2;
    }

    &:hover {
      &::before {
        cursor: pointer;
        border: 1px solid $gold;
      }
    }
  }

  &__img {
    width: 100%;
    min-height: 280px;
    object-fit: cover;
    object-position: center;
    transition: all 800ms;

    @include on768 {
      min-height: 300px;
    }
    @include on1280 {
      min-height: 320px;
    }
  }
}
