@import '../../../utils/variables';
@import '../../../utils/mixins';

.intro {
  // width: 100vw;
  margin: 0 auto;
  background: $greenBg;
  color: #fff;
  padding: 60px 0;
  margin-bottom: 0;

  @include on768 {
    padding: 100px 0;
    margin-bottom: 0;
  }

  &__container {
    margin: 0 auto;
  }

  &__configurator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    @include on768 {
      flex-direction: row;
      gap: 20px;
    }
  }
}
