@import '../../utils/variables';
@import '../../utils/mixins';

@include on768 {}
@include on1280 {}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;

  &__content {
    display: flex;
    flex-direction: column;

    @include on1280 {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: $pad24;
    }
  }

  &__description {}

  &__img {
    width: 100%;

    &--main {
      margin-bottom: $pad24 * 3;
    }

    &--description {
      color: $greyText;
      position: relative;
      text-align: center;
      margin-bottom: $pad24;

      &::before {
        content: '';
        width: 180px;
        height: 1px;
        background-color: $gold;
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__video {
    width: 100%;
    object-fit: cover;
    margin-bottom: $pad24;
  }

  &__flex-box {
    @include on768 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $pad12;
    }
  }
}

.details {
  display: flex;
  justify-content: center;
  width: 100%;
  background: $greenBg;
  letter-spacing: 0.2px;
  font-size: 14px;
  padding-top: 20px;
  color: #fff;
  margin-bottom: $pad24;

  @include on768 {
    font-size: 16px;
  }
  @include on1280 {
    font-size: 18px;
  }

  &__wrapper {
    @include on1280 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $pad24;
    }
  }

  &__container {
    margin-bottom: $pad24;

    &__wrapper {
      @include on768 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $pad24;
      }
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 3;
    margin-bottom: $pad12;

    @include on768 {
      font-size: 20px;
    }
    @include on1280 {
      font-size: 22px;
    }
  }

  &__content {}
  
  &__subcontainer {
    width: 100%;
    margin-bottom: $pad24;
    
    &__line {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      margin-bottom: 4px;
    }
  }

  &__subtitle {
    font-weight: 3;
  }

  &__subcontent {}
}
