@import '../../utils/variables';
@import '../../utils/mixins';

.title {
  text-align: center;
  margin: 0 0 18px 0;
  font-size: 24px;
  font-weight: 3;
  grid-area: title;

  &--intro {
    font-weight: 4;
    background-image: url(../../images/bg/title.jpg);
    background-position: center;
    background-clip: text;
    color: transparent;
  }

  &--trends {
    margin-right: auto;
    margin-left: auto;
    width: 220px;
  }

  &--architecture {
    @include on768 {
      margin: 0;
      text-align: left;
    }
  }

  &--rooms {
    text-align: left;
  }

  &--utilities {
    // position: absolute;
    // top: 0;
    // right: 0;
    // left: -40px;
    // bottom: 50px;
    // display: flex;
    // justify-content: center;
    // align-items: end;
    // width: min-content;
    // background: yellowgreen;
    // width: min-content;
    // height: min-content;
    margin: auto;
    transform: rotateZ(90deg);

    @include on768 {
      font-size: 44px;
    }
  }
}