@import './variables';
@import '../fonts/font-family.scss';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-image: none;
}

html {
  scroll-behavior: smooth;
  line-height: 1.2;
  letter-spacing: 0.8px;
  font-size: 12px;
  -webkit-text-size-adjust: 100%; //?
  
  ::selection {
    color: #fff;
    background: $green;
  }

  ::-moz-selection {
    color: #fff;
    background: $green;
  }


}

html, button, input {
  font-family: Gotham;
  font-weight: 1;
  color: $mainColor;
}

textarea, input[type="text"] {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  border-radius: 0;
}

section {
  margin: 0 auto 60px;

  @include on768 {
    margin: 0 auto 100px;
  }

  @include on1280 {
    margin: 0 auto 100px;
  }
}