@import '../fonts/font-family.scss';

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, button, input {
  font-family: Gotham;
  font-weight: 1;
  color: $mainColor;
}