@import './mixins';

$mainColor: rgb(33, 33, 33);
$greyBg: #F7F7F7;
$greyText: #D4D4D4;
$darckGreyText: #8E8E8E;
$green: #28613C;
$greenBg: #006039;
$gold: #E8C347;
$pad12: 12px;
$pad24: 24px;

:root {
  --itemWidth: 280px;
  --pad: 56px;

  @include on768 {
    --itemWidth: 300px;
  }
  @include on1280 {
    --itemWidth: 320px;
  }
}