$mainColor: rgb(33, 33, 33);
$greyBg: #F7F7F7;
$greyText: #D4D4D4;
$darckGreyText: #8E8E8E;
$green: #28613C;
$greenBg: #006039;
$gold: #E8C347;
$pad12: 12px;
$pad24: 24px;

:root {
  --itemWidth: 260px;
  --pad: 56px;
}