@import '../../utils/variables';
@import '../../utils/mixins';

.gallery {
  position: relative;
  margin: 0 auto 40px;

  &__setings {
    display: none;

    @include on768 {
      display: flex;
      gap: $pad24 * 3;
      margin-bottom: 40px;
    }
  }

  &__control {
    display: flex;
    height: min-content;
    gap: $pad12;
  }
  
  &__filters {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: $pad24 * 2;
    row-gap: 6px;
  }

  &__preview {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;
    margin-bottom: 40px;
    

    @include on768 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include on1280 {
      grid-template-columns: repeat(3, 1fr);
    }

    &__link {
      position: relative;
      background: #000;
      overflow: hidden;
      cursor: pointer;

      &::before {
        content: '';
        position: absolute;
        top: $pad12;
        right: $pad12;
        bottom: $pad12;
        left: $pad12;
        border: 1px solid $green;
        transition: all 500ms;
        z-index: 1;
      }

      &::after {
        content: attr(data-conent);
        position: absolute;
        top: 10%;
        right: 0;
        font-size: 14px;
        padding: 4px 24px;
        color: $gold;
        background: $mainColor;
        z-index: 1;
      }
      
      &:hover {
        .gallery__preview--img {
          transform: scale(1.04);
          opacity: 0.8;
        }
        
        &::before {
          border: 1px solid $gold;
        }
      }

    }

    // &--img{
    //   width: 100%;
    //   transition: all 800ms;
    // }
  }
}
