.intro {
  position: relative;
  padding: 40px 0;

  &__title {
    margin: 18px 0;
    font-size: 1.9rem;
    font-weight: 800;
    line-height: 1;
    background-image: url('../../images/bgi.jpg');
    // background-size: cover;
    background-position: center;
    background-clip: text;
    color: transparent;
  }

  &__description {
    margin: 18px 0;
    padding: 18px 0;
    letter-spacing: 1px;
    line-height: 1.5;
  }

  &__configurator {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.configurator {
  display: grid;
  grid-template-columns: 1fr;
  width: 260px;
  margin: auto;

  @media (min-width: 768px) {
    width: 350px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    width: max-content;
    gap: 20px;
  }

  &__button {
    font-size: 14px;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #fff;
    color: green;
    border: 1px solid green;
    border-radius: 20px;
    outline: none;
    transition: all 500ms;

    &:hover {
      cursor: pointer;
      background-color: green;
      color: #fff;
    }

    @media (min-width: 769px) {
      padding: 10px 30px;
    }
  }

  // &__link {
  //   font-size: 14px;
  //   width: max-content;
  //   text-decoration: none;
  //   color: green;
  //   margin-bottom: 10px;
  //   transition: all 500ms;

  //   &:hover {
  //     cursor: pointer;
  //     opacity: 0.6;
  //   }
  // }
}