@import '../../utils/variables';
@import '../../utils/mixins';

.utilities {
  &__configurator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    @include on1280 {
      flex-direction: row;
      gap: 20px;
    }
  }
}
