@import '../../utils/mixins';

.contacts {
  padding: 55px 0 40px;
  background-color: $greyBg;
  border-bottom: 1px solid $mainColor;

  &__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;

    @include on768 {
      font-size: 20px;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
  }
}

.icon {
  width: 15px;
  height: 15px;
  padding: 15px;
  margin: 10px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: green;
  transition: all 500ms;

  &:hover {
    cursor: pointer;
    background-color: green;
    fill: #fff;
  }

  &__wrapper {
    width: 15px;
    height: 15px;
  }

  &--other {
    @include on768 {
      display: none;
    }
  }

  &--weibo {
    display: none;

    @include on768 {
      display: inherit;
    }
  }

  &--qq {
    display: none;

    @include on768 {
      display: inherit;
    }
  }

  &--douban {
    display: none;

    @include on768 {
      display: inherit;
    }
  }

  &--mail {
    display: none;

    @include on768 {
      display: inherit;
    }
  }
}