@import '../../../utils/variables';
@import '../../../utils/mixins';

.ch {
  width: 16px;
  height: 16px;

  &:hover {
    cursor: pointer;
  }

  &__G {
    stroke: none;
    stroke-width: 0;
    stroke-dasharray: none;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 10;
    fill: none;
    fill-rule: nonzero;
    opacity: 1;
  }

  &__C {
    stroke-width: 1;
    fill: rgb(222,41,16);
  }

  &__P {
    stroke-width: 1;
    fill: rgb(255,222,0);
  }
}